<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"  href="{% static 'css/index.css' %}">

    <title>RAD</title>

  </head>

  <body class="mt-5">

    <div class="row">
      <div class="col">
        <div id="search-box" class="search-box">
          <input id="search-txt" class="search-txt" type="text" name="search" placeholder="Type me!">
          <button id="search-btn" class="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row-header">
      <div class="col">
        <div class="header">
          <h3>Books of the month!</h3>
        </div>
      </div>
    </div>

    <div class="row-table">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cover</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://kit.fontawesome.com/8d51ef034d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
  </body>
</html>