body{
	margin: 0;
	padding: 0;
	background: #3498db;
}

.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #34495e;
	height: 60px;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}

.search-box:hover > .search-btn{
	background: white;
}

.search-btn{
	color: #1abc9c;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%; 
	background: #34495e;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height:35px;
	width: 0px;
}

.row-header{
	margin-top: 70px;
	text-align: center;
	color: #ecf0f1;
}

.row-table{
	margin-top: 50px;
	background: #1abc9c; 
}

tr{
	text-align: center;
}
